<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="a8" path="/home/saveLink" verb="*" type="java" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>