
body {
    font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.53846154;
    color: #333;
    background-color: #fff;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td, ol, ul, li, img, input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}

a {
    text-decoration: none;
    color: #222;
}


.table-fixed {
    table-layout: fixed;
    width:100%;
}

input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

::selection {
    background: rgb(40,160,240);
    color: #ff0;
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
    overflow: visible;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #a6a6a6;
}
::-webkit-scrollbar-thumb {
    background: rgb(128,128,128);
    background: #808080;
}

::-webkit-scrollbar {
    width: 8px;
}

.clearFix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
